/*CSS RESET*/

*,*::after, *::before {
	box-sizing:border-box;
}

:root{
	--color-neutral-light:#eee;
	--color-neutral-medium:#999;
	--color-neutral-dark:#555;

	--color-main-light: #D9C7A7;
	--color-main-medium: #BFAE8E;

	--header-height:3rem;
	--spacing:1rem;

	--font-sans:'Nunito', sans-serif;
}

body{
	margin:0;
	font-size:100%;
	font-family:var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family:var(--font-sans);
}

a{
	color:inherit;
	font-weight:bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* LAYOUT CLASSES */

.container-a{
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.container{
	max-width: 65%;
	margin-left: auto;
	margin-right: auto;
}

.display-flex{ display:flex; }
.display-inline-flex{ display:inline-flex; }
.display-block{ display:block }
.display-inline-block{ display:inline-block; }

.flex-stretch {flex: 1 1 auto;}
.flex-none {flex: none; }

.flex-align-center{ align-items: center; }
.flex-justify-center{ justify-content: center; }

/*C COMPONENT CLASS */

.nav ul{
	list-style-type:none;
	margin-top: 0em;
	margin-bottom: 0em;
	padding-left: 0; 
}

.nav a{
	display: block;
	padding: 0.2em 0.5em;
}

.nav a:hover {
	background-color: var(--color-main-medium);
	color: #fff;
	text-decoration: none;
}

.nav .active a{
	background-color: var(--color-main-light);
	color: inherit;
}


.nav-material ul,
.nav-crumbs ul,
.nav-pills ul,
.nav-stretch ul,
.nav-flex ul {
	display: flex;
}

.nav-material li,
.nav-stretch li {
	flex: 1 1 auto;
	text-align: center;
}

.nav-pills a {
	border-radius: 2em;
	padding: 0.5em 1em;
}

.nav-crumbs a {
	display: inline-block;
}

.nav-crumbs .active a,
.nav-crumbs a:hover {
	background-color: transparent;
	color: inherit;
	text-decoration: underline;
}

.nav-crumbs li:not(:first-child)::before{
	content: '/';
}


.nav-material a {
	padding: 0.5em, 1em;
	position: relative;
}
.nav-material .active a {
	background-color: transparent;
	color: inherit;
}
.nav-material a:hover {
	background-color: var(--color-neutral-light);
	color:inherit;
}
.nav-material a::after {
	content:'';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	background-color: var(--color-main-medium);
	transition: all 0.3s;
}

.nav-material .active a::after{
	height: 4px;
}


.navbar{
	background-color:#BFAE8E;
	color:var(--color-white);
	line-height:var(--header-height); 
	padding:1em;	
}

.navbar h1{
	font-size:1.5em;
	margin:0;
	font-family: var(--font-sans);
	color: #fff;
	letter-spacing: 0.1em;
}
.navbar a {
	padding:0 0.5em;
	color: #fff;

}

/* CARD */

.card {
	background-color: var(--color-white);
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 1em;

	overflow:hidden;
	position: relative;
}

.card.soft {
	border-radius: 0.8em;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card.hard{
	border-radius:0.2em;
	border:2px solid var(--color-neutral-medium);
}

.card.dark{
	background-color: var(--color-neutral-dark);
}

.card.medium{
	background-color: var(--color-neutral-medium);
}

.card.flat{
	padding: 0;
}

/* VIEW-WINDOW*/

.view_window{
	height: 50vh;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

/*small class*/

.media-image{
	vertical-align: text-bottom;
	margin-top: 25px;
max-width:100%;
}

.media-image-2{
	max-width:100%;
	vertical-align: text-bottom;
}

.images{

	text-align: center;
	justify-content: center;
}

.images-a{
	color: #b59531;
}

.info{
	text-align: center;
	justify-content: center;
}

.bestsell h3{

	justify-content: center;
	color: #b59531;
	margin-top: 25px;
}


.title_h3{
	text-align: center;	
}


.container p{
	text-align: left;	
}

.newsletters {
  width: 20em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6em;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0px 20px 46px -12px #7174ac;
  padding: 12px;
  margin-top: 100px;
  letter-spacing: 0px;
  cursor: pointer;
  border-radius: 30px;
}

.newsletters:hover{ 
width: 26%;
color: #fff;
background-color: #7174ac;
}


.newsletters{
transition: width .8s, background-color .8s, color .5s; 
}


#p_style{
	text-align: left;
	font-family: var(--font-sans);
}

.type{
	padding-left: 0;
}

/* Tables */

.table th,
.table td {
	text-align: left;
	padding: 0.2em 0.5em;
}

.table.striped tbody tr:nth-child(odd) {
	background-color:var(--color-neutral-light);
}

.table.lined.all th:not(:first-child),
.table.lined.all td:not(:first-child),
.table.lined.vertical th:not(:first-child),
.table.lined.vertical td:not(:first-child) {
	border-left: 1px solid var(--color-neutral-medium);
}

/* .table.lined.all tbody tr,
.table.lined.all tbody tr {
	border: 1px solid var(--color-neutral-medium);
} */

.table.lined.horizontal td,
.table.lined.all td{  
border-top: 1px solid var(--color-neutral-medium);
}

.table.lined.all,
.table.lined.border {
	border: 1px solid var(--color-neutral-medium);
}

/* Figure*/
.figure {
	margin:0;
	background-color: var(--color-white);
}

.figure img {
	width: 100%;
	vertical-align: text-bottom;
}

.figure figcaption {
	padding:1em;
}

/* Footer*/
.footer{
	margin:0;
	padding: 1em;
	background-color: var(--color-main-medium);
	text-align: center;
	font-family: var(--font-sans);
}